apturl==0.5.2
astro-pi==1.1.5
Brlapi==0.6.4
Cap1xxx==0.1.3
chardet==2.3.0
click==6.7
codebug-tether==0.9.1
command-not-found==0.3
configparser==3.5.0
decorator==4.2.1
defer==1.0.6
drumhat==0.0.5
envirophat==0.0.6
ExplorerHAT==0.4.2
Flask==0.12.2
Flask-Images==2.1.2
Flask-MySQL==1.4.0
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
gpiozero==1.3.1
gunicorn==19.8.1
itsdangerous==0.24
Jinja2==2.10
language-selector==0.1
lightdm-gtk-greeter-settings==1.2.1
louis==2.6.4
lxml==4.6.3
Mako==1.0.3
MarkupSafe==1.0
mate-tweak==3.5.10
mcpi==0.1.1
microdotphat==0.1.3
mote==0.0.3
motephat==0.0.2
mysql-connector==2.1.6
numpy==1.11.0
onboard==1.2.0
pantilthat==0.0.2
pexpect==4.0.1
pianohat==0.0.5
picamera==1.12
picraft==1.0
piglow==1.2.4
pigpio==1.30
PIL==1.1.7
Pillow==3.1.2
pillowcase==2.0.0
polib==1.0.7
psutil==3.4.2
ptyprocess==0.5
pycups==1.9.73
pycurl==7.43.0
pygobject==3.20.0
PyMySQL==0.8.0
pyserial==3.0.1
python-apt==1.1.0b1+ubuntu0.16.4.1
python-debian==0.1.27
python-systemd==231
pyxdg==0.25
rainbowhat==0.0.1
reportlab==3.3.0
requests==2.9.1
RPi.GPIO==0.6.3
RTIMULib==7.2.1
scipy==0.17.0
scrollphat==0.0.7
sense-emu==1.0
sense-hat==2.2.0
sessioninstaller==0.0.0
six==1.10.0
sn3218==1.2.6
spidev==3.0
SQLAlchemy==1.2.7
ssh-import-id==5.5
st7036==1.4.3
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.22
virtualenv==15.2.0
Werkzeug==0.14.1
WTForms==2.1
xkit==0.0.0
