<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='Tinylab-Android-Lollipop-Apps-Data-Meter.ico') }}">
    <title>{{ title }}</title>
    <style>
      .genericBox {
        font-family: 'Arial', serif;
        border: 2px solid black;
        padding: 5px;
      }
      .stackedBoxTop {
        font-family: 'Arial', serif;
        border-top: 2px solid black;
        border-right: 2px solid black;
        border-left: 2px solid black;
      }
      .stackedBoxMid {
        font-family: 'Arial', serif;
        border: 2px solid black;
      }
      .stackedBoxBottom {
        font-family: 'Arial', serif;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        border-left: 2px solid black;
      }

      .entryLineShort {
        margin: 5px 0 0 20px;
        width: 8in;
      }

      .entryLineTall {
        margin: 9px 0 0 20px;
        width: 8in;
      }

      .bordered {
        border: #2b669a solid 1px;
      }

      .commentTextBox {
        font-family: 'Arial', serif;
        font-size: 12px;
        width: 5.25in;
        height: 3.2in;
        margin: .3in 0 0 2.65in;
        position: absolute;
        display: inline-block;
        {#border: red solid 1px;#}
        line-height: 20px;
      }

      .commentLineEven {
        border: solid 1px black;
        height: 19px;
      }

      .commentLineOdd {
        height: 19px;
      }

      .commentStyle {
        font-family: 'Arial', serif;
        font-weight: bold;
        font-size: 13px;
      }

      .entryBox {
        font-family: 'Arial', serif;
        font-weight: bold;
        font-size: 13px;
        {#border: 1px solid #73AD21;#}
        display: inline-block;
        position: absolute;
        margin: 0 0 0 0;
        height: 16px;
      }


      .entryBoxValue {
        font-family: 'Arial', serif;
        font-size: 13px;
        border-bottom: 1px solid black;
        display: inline-block;
        height: 16px;
        position: absolute;
        margin: 0 0 0 0;
      }

      .lastEntryBox {
        font-family: 'Arial', serif;
        font-size: 13px;
        {#border: 1px solid red;#}
        display: inline-block;
        position: absolute;
        margin: 0 0 0 0;
        height: 16px;
      }

      .lineLastField {
        font-family: 'Arial', serif;
        font-size: 13px;
        border-bottom: 1px solid black;
        height: 16px;
      }

      .specsCol1 {
        font-weight: normal;
        width: 1.3in;
        margin-left: 1.4in;
      }

      .specsCol2 {
        font-weight: normal;
        width: 1.3in;
        margin-left: 2.7in;
      }

      .specsCol3 {
        font-weight: normal;
        width: 1.3in;
        margin-left: 4in;
      }

      .specsCol4 {
        font-weight: normal;
        width: 1.3in;
        margin-left: 5.3in;
      }

      .specsCol5Empty {
        font-weight: normal;
        width: 1.4in;
        margin-left: 6.6in;
      }

      .specsCol5 {
        font-weight: normal;
        width: 1.4in;
        margin-left: 6.6in;
      }

      @page {
        size: 8.5in 14in;
        margin: .25in .25in .25in .25in;
      }

      @media print {
        .noPrint {
            display:none;
          }
      }

  	</style>
  </head>
  <body>
    <!--  Notes

    Page size taken from https://stackoverflow.com/questions/3341485/how-to-make-a-html-page-in-a4-paper-size-pages
    Flask, set checkbox: https://stackoverflow.com/questions/41483767/bottlepy-flask-how-to-set-a-checkbox

    -->

    <!-- Begin Customer Information -->

    <div align="center" class="">
      <div class="noPrint" style="font-size: small; font-family: Arial; font-weight: bold; color: red; height: 20px;">
        Changes made to this form are NOT saved
      </div>
    </div>
    <div class="genericBox" style="position: absolute;height: 40px; width: 120px;">
      <div class="" style="font-size: 10px; width: 26px; display: inline-block; position: absolute;">
        <b>Job#</b>
      </div>
      <div align="center" class="" style="margin-top: 10px; font-size: 25px; width: 90px; height: 25px;display: inline-block; margin-left: 30px;">
        {% for val in job_number %}
        <b>{{ val[0] }}</b>
        {% endfor %}
      </div>
    </div>
    <div align="right" class="" style="height: 50px; width: 8.25in;">
      <img src="{{ url_for('static', filename='work_order.png') }}" height="55" />
    </div>
    <div style="position: absolute; margin: -5px 0 0 6.9in;">
      <div class="stackedBoxTop" style="width: 1.25in; height: 25px;padding: 0 5px 0 0;">
        <div align="right" style="font-size: 8px; height: 8px">Due Date</div>
        <div align="left" style="font-size: 12px; margin-left: 15px"><b>05/01/2018</b></div>
      </div>
      <div class="stackedBoxMid" style="width: 1.25in; height: 25px;padding: 0 5px 0 0;">
        <div align="right" style="font-size: 8px; height: 8px">Order Date</div>
        <div align="left" style="font-size: 12px; margin-left: 15px"><b>03/28/2018</b></div>
      </div>
      <div class="stackedBoxBottom" style="width: 1.25in; height: 25px;padding: 0 5px 0 0;">
        <div align="right" style="font-size: 8px; height: 8px">Proof Date</div>
        <div align="left" style="font-size: 12px; margin-left: 15px"><b>04/15/2018</b></div>
      </div>
    </div>
    <div style="margin: 22px 0 0 20px; width: 550px;">
      <div class="entryBox" style="width: 200px;">Previous Job #</div>
      <div class="entryBoxValue" style="margin-left: 110px; width: 80px">52111</div>
      <div class="entryBox" style="margin-left: 200px">Quote #</div>
      <div class="entryBoxValue" style="margin-left: 260px; width: 100px">quote</div>
      <div style="margin-left: 370px;">
        <div align="left" class="lastEntryBox" style="width: 78px;"><b>Sales Rep</b></div>
        <div class="lineLastField" style="margin-left: 78px;">Rep</div>
      </div>
    </div>
    <div style="margin: 5px 0 0 20px; width: 550px;">
      <div style="margin-left: 0;">
        <div align="left" class="lastEntryBox" style="width: 70px; font-weight: bold;">Customer</div>
        <div class="lineLastField" style="margin-left: 75px;">CUSTOMER NAME</div>
      </div>
    </div>
    <div style="margin: 5px 0 0 20px; width: 550px;">
      <div style="margin-left: 0;">
        <div align="left" class="lastEntryBox" style="width: 70px; font-weight: bold;">Job Title</div>
        <div class="lineLastField" style="margin-left: 75px;">JOB TITLE</div>
      </div>
    </div>
    <div class="entryLineShort">
      <div class="entryBox" style="width: 1in;">Prod Contact</div>
      <div class="entryBoxValue" style="margin-left: 1.05in; width: 2.5in">PROD CONTACT</div>
      <div class="entryBox" style="margin-left: 3.6in; width: .65in;">Phone #</div>
      <div align="center" class="entryBoxValue" style="margin-left: 4.3in; width: 1.45in">999-999-9999</div>
      <div style="margin-left: 5.9in;">
        <div align="left" class="lastEntryBox" style="width: .42in;">Fax #</div>
        <div align="center" class="lineLastField" style="margin-left: .42in;">1-888-996-8875</div>
      </div>
    </div>
    <div class="entryLineShort">
      <div class="entryBox" style="width: 1.1in;">Email Address</div>
      <div class="entryBoxValue" style="margin-left: 1.15in; width: 4.6in">EMAIL ADDRESS</div>
      <div style="margin-left: 5.9in;">
        <div align="left" class="lastEntryBox" style="width: .42in;">Cell #</div>
        <div align="center" class="lineLastField" style="margin-left: .42in;">1-999-888-7777</div>
      </div>
    </div>
    <div class="entryLineTall" style="margin-top: 12px;">
      <div class="entryBox" style="width: 2in;">Postage Check Requested:</div>
      <div class="entryBoxValue" style="margin-left: 1.95in; width: .6in"></div>
      <div class="entryBox" style="margin-left: 2.65in; width: .76in;">Date/Time</div>
      <div class="entryBoxValue" style="margin-left: 3.47in; width: 1in"></div>
      <div style="margin-left: 5.5in; color: white;">&nbsp</div>
    </div>
    <div class="entryLineTall">
      <div class="entryBox" style="width: 1.9in;">Postage Check Received:</div>
      <div class="entryBoxValue" style="margin-left: 1.95in; width: .6in"></div>
      <div class="entryBox" style="margin-left: 2.65in; width: .76in;">Date/Time</div>
      <div align="center" class="entryBoxValue" style="margin-left: 3.47in; width: 1in"></div>
      <div style="margin-left: 4.62in;">
        <div align="left" class="lastEntryBox" style="width: .66in;"><b>Check #</b></div>
        <div class="lineLastField" style="margin-left: .66in;">&nbsp</div>
      </div>
    </div>

    <!-- Begin General Information -->

    <div align="left" class="" style="height: 50px; margin-top: 15px">
      <img src="{{ url_for('static', filename='general_information.png') }}" height="55" />
    </div>
    <div style="margin: 0 0 0 20px; width: 8in;">
      <div class="entryBox" style="width: .5in">Input:</div>
      <div class="entryBox" style="font-weight: normal;width: 1in; margin-left: .8in;">
        <input type="checkbox" id="emailChk" name="emailChk" value="Email">
        <label for="emailChk"><b>Email</b></label>
      </div>
      <div class="entryBox" style="font-weight: normal;width: 1.5in; margin-left: 1.8in;">
        <input type="checkbox" id="cdromChk" name="cdromChk" value="CD ROM">
        <label for="cdromChk"><b>CD ROM</b></label>
      </div>
      <div class="entryBox" style="font-weight: normal;width: 1in; margin-left: 3.3in;">
        <input type="checkbox" id="ftpChk" name="ftpChk" value="FTP">
        <label for="ftpChk"><b>FTP</b></label>
      </div>
      <div class="entryBox" style="font-weight: normal;width: .8in; margin-left: 4.3in;">
        <input type="checkbox" id="otherInputChk" name="otherInputChk" value="Other">
        <label for="otherInputChk"><b>Other</b></label>
      </div>
      <div class="lineLastField" style="margin-left: 5.1in;">&nbsp</div>
    </div>
    <div style="margin: 10px 0 0 20px; width: 8in;">
      <div style="margin-left: 0;">
        <div align="left" class="lastEntryBox" style="width: .8in;"><b>File Name</b></div>
        <div class="lineLastField" style="margin-left: .85in;">&nbsp</div>
      </div>
    </div>
    <div style="margin: 10px 0 0 20px; width: 8in;">
      <div class="entryBox" style="width: 1.4in">Maintenance:</div>
      <div class="entryBox specsCol1" style="">
        <input type="checkbox" id="mergeChk" name="mergeChk" value="Merge">
        <label for="mergeChk"><b>Merge</b></label>
      </div>
      <div class="entryBox specsCol2" style="">
        <input type="checkbox" id="dedupeChk" name="dedupeChk" value="De-Dupe">
        <label for="dedupeChk"><b>De-Dupe</b></label>
      </div>
      <div class="entryBox specsCol3" style="">
        <input type="checkbox" id="presortChk" name="presortChk" value="Presort">
        <label for="presortChk"><b>Presort</b></label>
      </div>
      <div class="entryBox specsCol4" style="">
        <input type="checkbox" id="ncoaChk" name="ncoaChk" value="NCOA">
        <label for="ncoaChk"><b>NCOA</b></label>
      </div>
      <div class="entryBox specsCol5" style="">
        <input type="checkbox" id="tntChk" name="tntChk" value="BPM">
        <label for="tntChk"><b>TNT</b></label>
      </div>
      &nbsp;
    </div>
    <div style="margin: 2px 0 0 20px; width: 8in;">
      <div class="entryBox" style="width: 1.4in">Postal Specs:</div>
      <div class="entryBox specsCol1" style="">
        <input type="checkbox" id="fcmChk" name="fcmChk" value="First Class">
        <label for="fcmChk"><b>First Class</b></label>
      </div>
      <div class="entryBox specsCol2" style="">
        <input type="checkbox" id="stdChk" name="stdChk" value="Standard">
        <label for="stdChk"><b>Standard</b></label>
      </div>
      <div class="entryBox specsCol3" style="">
        <input type="checkbox" id="npChk" name="npChk" value="Non-Profit">
        <label for="npChk"><b>Non-Profit</b></label>
      </div>
      <div class="entryBox specsCol4" style="">
        <input type="checkbox" id="meterChk" name="meterChk" value="Meter">
        <label for="meterChk"><b>Meter</b></label>
      </div>
      <div class="entryBox specsCol5" style="">
        <input type="checkbox" id="bpmChk" name="bpmChk" value="BPM">
        <label for="bpmChk"><b>BPM</b></label>
      </div>
      &nbsp;
    </div>
    <div style="margin: 2px 0 0 20px; width: 8in;">
      <div class="entryBox" style="width: 1.4in">&nbsp</div>
      <div class="entryBox specsCol1" style="">
        <input type="checkbox" id="indcChk" name="indcChk" value="Indicia">
        <label for="indcChk"><b>Indicia</b></label>
      </div>
      <div class="entryBox specsCol2" style="">
        <input type="checkbox" id="stampChk" name="stampChk" value="Stamp">
        <label for="stampChk"><b>Stamp</b></label>
      </div>
      <div class="entryBox specsCol3" style="">
        <input type="checkbox" id="periodicalChk" name="periodicalChk" value="Periodical">
        <label for="periodicalChk"><b>Periodical</b></label>
      </div>
      <div class="entryBox specsCol4" style="">
        <input type="checkbox" id="postcardChk" name="postcardChk" value="Postcard">
        <label for="postcardChk"><b>Postcard</b></label>
      </div>
      <div class="specsCol5Empty">&nbsp</div>
    </div>
    <div style="margin: 2px 0 0 20px; width: 8in;">
      <div class="entryBox" style="width: 1.4in">&nbsp</div>
      <div class="entryBox specsCol1" style="width: 2.6in;">
        <input type="checkbox" id="crrtChk" name="crrtChk" value="Carrier Route Sort">
        <label for="crrtChk"><b>Carrier Route Sort</b></label>
      </div>
      <div class="entryBox specsCol3" style="">
        <input type="checkbox" id="matchChk" name="matchChk" value="Match Mail">
        <label for="matchChk"><b>Match Mail</b></label>
      </div>
      <div class="entryBox specsCol4" style="">
        <input type="checkbox" id="noListsChk" name="noListsChk" value="# Lists">
        <label for="noListsChk"><b># Lists</b></label>
      </div>
      <div class="lineLastField" style="margin-left: 6.2in;">&nbsp</div>
    </div>
    <div style="margin: 2px 0 0 20px; width: 8in;">
      <div class="entryBox" style="width: 1.4in">Output:</div>
      <div class="entryBox specsCol1" style="">
        <input type="checkbox" id="inkjetChk" name="inkjetChk" value="Inkjet">
        <label for="inkjetChk"><b>Inkjet</b></label>
      </div>
      <div class="entryBox specsCol2" style="">
        <input type="checkbox" id="laserChk" name="laserChk" value="Laser">
        <label for="laserChk"><b>Laser</b></label>
      </div>
      <div class="entryBox specsCol3" style="">
        <input type="checkbox" id="lablesChk" name="lablesChk" value="Labels">
        <label for="lablesChk"><b>Labels</b></label>
      </div>
      <div class="entryBox" style="font-weight: normal;width: .7in; margin-left: 5.3in;">
        <input type="checkbox" id="otherOutputChk" name="otherOutputChk" value="Other">
        <label for="otherOutputChk"><b>Other</b></label>
      </div>
      <div class="lineLastField" style="margin-left: 6.1in;">&nbsp</div>
    </div>

    <!-- Begin Fulfillment Section -->

    <div class="" style="height: 50px; width: 8.25in; margin-top: 15px">
      <div class="" style="border-color: green; position: absolute; width: 4in;">
        <img src="{{ url_for('static', filename='fulfillment.png') }}" height="55" />
      </div>
      <div align="right" class="" style="margin: 0 0 0 4.25in; display: inline-block; width: 4in;">
        <div align="left" class="genericBox" style="height: 30px; width: 300px;">
          <div class="" style="width: 235px; font-size: 24px; position: absolute;">
            <b>&nbsp</b>
          </div>
          <div class="" style="font-size: 11px; margin: 0 0 0 240px; height: 15px; display: inline-block; position: absolute;">
            <b>Qty</b>
          </div>
        </div>
      </div>
    </div>
    <div style="margin: 10px 0 0 20px; width: 8in;">
      <div class="entryBox" style="width: 1.4in">Mail Processing:</div>
      <div class="entryBox" style="font-weight: normal; width: .65in; margin-left: 1.4in;">
        <input type="checkbox" id="tabChk" name="tabChk" value="Tab">
        <label for="tabChk"><b>Tab</b></label>
      </div>
      <div align="center" class="entryBoxValue" style="margin-left: 2.1in; width: .5in">(1 or 2)</div>
      <div class="entryBox specsCol2" style="">
        <input type="checkbox" id="foldChk" name="foldChk" value="Fold">
        <label for="foldChk"><b>Fold</b></label>
      </div>
      <div class="entryBox" style="font-weight: normal; width: .9in; margin-left: 3.8in;">
        <input type="checkbox" id="insertChk" name="insertChk" value="Insert #">
        <label for="insertChk"><b>Insert #</b></label>
      </div>
      <div align="center" class="entryBoxValue" style="margin-left: 4.7in; width: .5in">(1 or 2)</div>
      <div class="entryBox specsCol4" style="">
        <input type="checkbox" id="jumboChk" name="jumboChk" value="Jumbo">
        <label for="jumboChk"><b>Jumbo</b></label>
      </div>
      <div class="entryBox specsCol5" style="">
        <input type="checkbox" id="polyChk" name="polyChk" value="Poly">
        <label for="polyChk"><b>Poly</b></label>
      </div>
      <div class="lineLastField" style="margin-left: 5.65in; border-bottom: 0;">&nbsp</div>
    </div>
    <div style="margin: 10px 0 0 20px; width: 8in;">
      <div class="entryBox" style="width: 1in">Digital:</div>
      <div class="entryBox" style="font-weight: normal; width: .6in; margin-left: 1in;">
        <input type="checkbox" id="fullColorChk" name="fullColorChk" value="4/4">
        <label for="fullColorChk"><b>4/4</b></label>
      </div>
      <div class="entryBox" style="font-weight: normal; width: .6in; margin-left: 1.6in;">
        <input type="checkbox" id="singleColorChk" name="singleColorChk" value="4/0">
        <label for="singleColorChk"><b>4/0</b></label>
      </div>
      <div class="entryBox" style="font-weight: normal; width: .6in; margin-left: 2.2in;">
        <input type="checkbox" id="duplexChk" name="duplexChk" value="1/1">
        <label for="duplexChk"><b>1/1</b></label>
      </div>
      <div class="entryBox" style="font-weight: normal; width: .6in; margin-left: 2.8in;">
        <input type="checkbox" id="simplexChk" name="simplexChk" value="1/0">
        <label for="simplexChk"><b>1/0</b></label>
      </div>
      <div style="margin-left: 3.55in;">
        <div align="left" class="lastEntryBox" style="width: .5in;"><b>Stock</b></div>
        <div class="lineLastField" style="margin-left: .5in;">&nbsp</div>
      </div>
    </div>
    <div style="margin: 10px 0 0 20px; width: 8in;">
      <div class="entryBox" style="width: 1.65in;">Outside Purchases:</div>
      <div class="entryBox" style="width: .4in; margin-left: 1.65in;">PO #</div>
      <div class="entryBoxValue" style="margin-left: 2.1in; width: 1.5in">&nbsp</div>
      <div style="margin-left: 3.7in;">
        <div align="left" class="lastEntryBox" style="width: .2in;"><b>$</b></div>
        <div align="center" class="lineLastField" style="margin-left: .22in;">&nbsp</div>
      </div>
    </div>
    <div style="margin: 6px 0 0 20px; width: 8in;">
      <div style="margin-left: 0;">
        <div align="left" class="lastEntryBox" style="width: .7in;"><b>Bindery:</b></div>
        <div align="center" class="lineLastField" style="margin-left: .72in;">&nbsp</div>
      </div>
    </div>
    <div style="margin: 6px 0 0 20px; width: 8in;">
      <div style="margin-left: .72in;">
        <div align="center" class="lineLastField" style="">&nbsp</div>
      </div>
    </div>

    <div class="commentTextBox"
         style="position: absolute; height: .45in; width: 7.18in; margin: -42px 0 0 1.02in; ">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>

    <div style="margin: 6px 0 0 20px; width: 8in;">
      <div style="margin-left: 0;">
        <div align="left" class="lastEntryBox" style="width: .7in;"><b>Shipping:</b></div>
        <div align="center" class="lineLastField" style="margin-left: .72in;">&nbsp</div>
      </div>
    </div>
    <!-- Comments and Time Section -->
    <div class="bordered" style="width: 8in; margin: .25in 0 0 .25in; height: 3.5in; border-color: black;">
      <div class="bordered" style="width: 2.5in; height: 3.5in; position: absolute; display: inline-block; border-color: black;">
        <div class="commentStyle" style="height: .25in; font-size: large; border-color: black; margin-left: .1in;">Time</div>
        <div class="commentStyle" style="height: .275in; border-color: black; margin-left: .1in;">Programming</div>
        <div style="height: 1.375in;">&nbsp</div>
{#        <div class="commentStyle" style="height: .25in; margin-left: .6in;">:</div>#}
        <div class="commentStyle" style="height: .275in; margin-left: .1in;">Production </div>
      </div>
      <div class="bordered" style="width: 5.5in; height: 3.5in; position: absolute; display: inline-block; border-color: black; margin-left: 2.5in;">
        <div class="commentStyle" style="height: .3in; font-size: large; margin-left: .1in;">Comments</div>
        <div class="commentLineOdd" style="">&nbsp</div>
        <div class="commentLineEven" style="">&nbsp</div>
        <div class="commentLineOdd" style="">&nbsp</div>
        <div class="commentLineEven" style="">&nbsp</div>
        <div class="commentLineOdd" style="">&nbsp</div>
        <div class="commentLineEven" style="">&nbsp</div>
        <div class="commentLineOdd" style="">&nbsp</div>
        <div class="commentLineEven" style="">&nbsp</div>
        <div class="commentLineOdd" style="">&nbsp</div>
        <div class="commentLineEven" style="">&nbsp</div>
        <div class="commentLineOdd" style="">&nbsp</div>
        <div class="commentLineEven" style="">&nbsp</div>
        <div class="commentLineOdd" style="">&nbsp</div>
        <div class="commentLineEven" style="">&nbsp</div>
      </div>
      <div class="commentTextBox" style="">
        At vero eos et accusamus et iusto odio dignissimos
        ducimus qui blanditiis praesentium voluptatum deleniti
        atque corrupti quos dolores et quas molestias excepturi
        sint occaecati cupiditate non provident, similique sunt
        in culpa qui officia deserunt mollitia animi, id est laborum
        et dolorum fuga. Et harum quidem rerum facilis est et
        expedita distinctio.<br>Nam libero tempore, cum soluta nobis
        est eligendi optio cumque nihil impedit quo minus id quod
        maxime placeat facere possimus, omnis voluptas assumenda
        est, omnis dolor repellendus. <br>Temporibus autem quibusdam
        et aut officiis debitis aut rerum necessitatibus saepe eveniet
        ut et voluptates repudiandae sint et molestiae non recusandae.
        Itaque earum rerum hic tenetur a sapiente delectus, ut aut
        reiciendis voluptatibus maiores alias consequatur aut
        perferendis doloribus asperiores repellat.
      </div>
    </div>
  </body>
</html>
